<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
   <!--  <link rel="stylesheet" href="css/bootstrap.min.css"> -->
   <!--  <link href="../../js/assets/css/bootstrap.min.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="../../js/assets/css/style.css"/>
      <link rel="stylesheet" href="../../js/assets/css/font-awesome.min.css" />
       <link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link href="../../js/assets/css/codemirror.css" rel="stylesheet">
		<script src="../../js/assets/js/ace-extra.min.js"></script>
		<script src="../../js/assets/js/jquery.min.js"></script>    
        <script src="../../js/assets/js/bootstrap.min.js"></script>
        <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
        <script src="../../libs/vue.min.js"></script>
        <script src="../../js/common.js"></script>
</head>
<body>
<!-- <div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        
    </div>
</div> -->
<div class="page-content clearfix">
 
 <div class="alert alert-block alert-success">
  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
  <i class="icon-ok green"></i>欢迎使用<strong class="green">本系统</strong>
 </div>
 <div id="rrapp"  class="state-overview clearfix">
                  <div class="col-lg-3 col-sm-3">
                      <section class="panel">
                      <a href="#" title="系统用户">
                          <div class="symbol terques">
                             <i class="icon-user"></i>
                          </div>
                          <div class="value">
                              <h1>{{count.userCount}}</h1>
                              <p>系统用户</p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                      <section class="panel">
                          <div class="symbol red">
                              <i class="icon-tags"></i>
                          </div>
                          <div class="value">
                              <h1>{{count.companyCount}}</h1>
                              <p>快递公司总数</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                      <section class="panel">
                          <div class="symbol yellow">
                              <i class="icon-shopping-cart"></i>
                          </div>
                          <div class="value">
                              <h1>{{count.rcCount}}</h1>
                              <p>抽检次数</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                      <section class="panel">
                          <div class="symbol blue">
                              <i class="icon-bar-chart"></i>
                          </div>
                          <div class="value">
                              <h1>{{count.kdyCount}}</h1>
                              <p>快递员总数</p>
                          </div>
                      </section>
                  </div>
              </div>
  </div> 
  <script src="../../js/main.js"></script>    
</body>
</html>